:root {
  --font-color-1: #ffffff;
  --font-color-2: #868686;
  --background-color-1: #000000;
  --background-color-2: #101010;
  --border-color-1: rgba(255, 255, 255, 0.2);
  --border-color-2: rgba(255, 255, 255, 0.15);
}

body {
  font-family: var(--bs-body-font-family);
  color: var(--font-color-1);
  background-color: var(--background-color-1);
}

/* Linklerin rengini beyaz yapmak için */
.navbar-nav .nav-link {
    color: var(--font-color-1) !important;
}

/* Aktif olan linkin rengi için */
.navbar-nav .nav-link.active {
    color: var(--font-color-1) !important;
}

/* Tüm metinlerin beyaz olmasını garantiye almak için */
* {
    color: inherit;
}

/* Fare üzerine gelince rengin değişmesi için */
.navbar-nav .nav-link:hover {
    color: var(--font-color-2) !important;
}

/* Aktif linkin üzerine gelince rengin değişmesi için */
.navbar-nav .nav-link.active:hover {
    color: var(--font-color-2) !important;
}

